.HomeBanner {
  margin-left: 20rem;
  width: calc(100% - 20rem);
  height: 100vh;
  background-color: #dae5f5;
  text-align: center;
}

.HomeBannerContent {
  padding: 4rem 0rem;

  > img {
    margin-top: 4rem;
  }
  > h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
  }
  > h3 {
    font-weight: 500;
    font-size: 1rem;
    margin: auto;
    width: 50%;
    margin-top: 1.3rem;
    letter-spacing: 0.6px;
  }
}

.encrypted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-weight: 300;
  position: relative;
  top: 13%;
}
